<ion-view title="{{navTitle}}">
  <ion-content class="content" has-bouncing="true">
    <div ng-controller="BookController as item">
      <div class="row responsive-sm" ng-repeat="book in books">
        <div class="col lib-item">
          <div class="lib-img-wrapper">
            <img height="100%" src="images/books/{{book.bookCov}}" alt="">
          </div>
          <br>
          <p class="lib-head">{{book.bookName}}</p>
          <p>
            <b>Author:</b> {{book.bookAuth | limitTo: 25}}...<br>
            <b>Publisher:</b> {{book.bookPub | limitTo: 25}}...<br>
            <b>ISBN:</b> {{book.bookIsbn}}<br><br>
          </p>   
          <a href="#/app/single-book" ng-click="item.setItem(book)" class="button button-large button-positive lib-item-button-des"> 
            <h4>MORE INFO</h4>
          </a>
          <a href class="button button-large button-positive lib-item-button-down"> 
            <h4>DOWNLOAD</h4>
          </a>
        </div>
      </div>      
    </div>
  </ion-content>
</ion-view>