<ion-view title="{{navTitle}}">
  <ion-content class="content" has-bouncing="true">
    <br>
    <h1>DROP US A LINE!</h1>
    <p>Feel free to contact us if anything is bugging you or just ask us something.</p>
    <br>

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <textarea placeholder="Message"></textarea>
      </label>
    </div>
    
    <a href class="button button-large button-positive right">
      <h4>SUBMIT</h4>
    </a>
  </ion-content>
</ion-view>
