<ion-view title="{{navTitle}}">
  <ion-content class="content" has-bouncing="true">
  	<br>
  	<img class="home-img" src="images/home-img.svg">
  	<br>
    <h1 class="center">BECOME SMARTER</h1>
    <p class="center">Wired Library offers a wide variety of educational books, articles and essays available for you to download.</p>
    <br><br>
    <a href="#/app/search" class="center">
      <button class="button button-large button-positive"> 
        <h4>Start Downloading</h4>
      </button>
    </a>
  </ion-content>
</ion-view>
