
/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'ostrich_sansbold';
    src: url('fonts/ostrich/ostrich-bold-webfont.eot');
    src: url('fonts/ostrich/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich/ostrich-bold-webfont.woff2') format('woff2'),
         url('fonts/ostrich/ostrich-bold-webfont.woff') format('woff'),
         url('fonts/ostrich/ostrich-bold-webfont.ttf') format('truetype'),
         url('fonts/ostrich/ostrich-bold-webfont.svg#ostrich_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sanscondensed_light';
    src: url('fonts/ostrich/ostrich-light-webfont.eot');
    src: url('fonts/ostrich/ostrich-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich/ostrich-light-webfont.woff2') format('woff2'),
         url('fonts/ostrich/ostrich-light-webfont.woff') format('woff'),
         url('fonts/ostrich/ostrich-light-webfont.ttf') format('truetype'),
         url('fonts/ostrich/ostrich-light-webfont.svg#ostrich_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('fonts/ostrich/ostrich-regular-webfont.eot');
    src: url('fonts/ostrich/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich/ostrich-regular-webfont.woff2') format('woff2'),
         url('fonts/ostrich/ostrich-regular-webfont.woff') format('woff'),
         url('fonts/ostrich/ostrich-regular-webfont.ttf') format('truetype'),
         url('fonts/ostrich/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ostrich_sansblack';
    src: url('fonts/ostrich/ostrich-black-webfont.eot');
    src: url('fonts/ostrich/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich/ostrich-black-webfont.woff2') format('woff2'),
         url('fonts/ostrich/ostrich-black-webfont.woff') format('woff'),
         url('fonts/ostrich/ostrich-black-webfont.ttf') format('truetype'),
         url('fonts/ostrich/ostrich-black-webfont.svg#ostrich_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {font-family: 'ostrich_sansblack' !important; font-size: 3.6em !important; color: #4D4D4D;}
h2 {font-family: 'ostrich_sansblack' !important; padding: 6px 15px !important; margin:0; font-size: 2.6em !important; color: #fff !important;}
h3 {font-family: 'ostrich_sansblack' !important; font-size: 1.4em !important; color: #fff;}
h4 {font-family: 'ostrich_sansblack' !important; font-size: 1.2em !important; color: #fff;}
p {font-family: 'Exo 2', sans-serif !important; margin-bottom: 1em !important; font-weight: 200; font-size: 1.2em; line-height: 1.2em; color: #4D4D4D !important;}

.blue-bg {background-image: url(images/landing-bg.jpg); background-size: 100% 100%; background-repeat: no-repeat;}
.center {display: inline-block; text-align: center; width: 100%}
.clear {clear: both;}
.right {float: right; width: 60%}

.color-white {color: white !important}
/*.fixed-b {position: fixed; width: 100%; bottom: 0;}*/

.item {border: none}
.item-center {text-align: center}
.item-input {height: 4em; border-bottom: 1px #67a4b5 solid !important}
.item-no-bg {background-color: transparent !important;}

.button-normal {background-color: #ff5d6a; color: white;}

.menu-bg {background-color: #4D4D4D !important}
.item-complex .item-content {background-color: #4D4D4D !important}
.item.menu-item {background-color: #4D4D4D !important}
i.menu-icon {margin: 5px 0 0 5px;  font-size: 3em; color: white !important}
.bar {height: 60px !important}
.bar .title {height: 60px !important}
.bar-stable {background-color: #00527F!important; border-bottom: 2px solid white !important}
.title-image {margin-top: 6px; height: 45px}
.button-icon {color: #FF5D6A !important;}
.bar .button {min-height: 50px !important;}
.button .button-icon .button-clear .ion-navicon {font-weight: bolder !important}
.has-header {top: 60px !important;}
.content {padding: 0 20px; background-color: #F2F2F2;}
.home-img {margin: 0 20% !important; width: 60%;}
.button-positive {background-color: #FF5D6A!important; border-bottom: 5px solid #B74452 !important; border-left: none; border-top: none; border-right: none }
.button-large {min-height: 0 !important;}

.bar-stable .button {background-color: transparent !important; border: none !important}
.back-button {padding: 0 0 0 0 !important; width: auto !important; min-height: 0px !important; background-color: none !important}
.back-arrow {padding: 0 10px 0 5px; font-size: 50px !important; font-weight: normal; color: #FF5D6A;}

input[type="search"] {font-family: 'Exo 2', sans-serif !important; font-size: 1.2em !important;}

/*.book-item {background-color: green!important; width: 200px; height: 100px;}*/
.item {width: 100% !important; white-space: normal !important;}
.item h3 {white-space: normal !important;}
.item p {white-space: normal !important;}
.lib-item {background-color: white; padding: 15px; margin: 10px 0; color: #4D4D4D !important;}
.lib-img-wrapper {position: relative; height: 160px;}
.lib-item img {position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;}
.lib-head {font-size: 1.2em !important; line-height: 1.4em; font-weight: bold !important; color: #4D4D4D !important; text-transform: uppercase}
.lib-item-button-des {float:left; margin: 0 2.5% 15px 0 !important;  width: 47.5%; background-color: #c3c3c3 !important; border-bottom: 5px solid #999 !important;}
.lib-item-button-down {float:left; margin: 0 0 15px 2.5% !important; width: 47.5%; background-color: #FF5D6A!important; border-bottom: 5px solid #B74452 !important;}
.display-none {display: none}

.single-item-wrapper {margin: 15px 0}
.contact-wrapper input {font-family: 'Exo 2', sans-serif !important; font-size: 1.2em;}
.contact-wrapper textarea {padding-top: 8px; font-family: 'Exo 2', sans-serif !important; font-size: 1.2em; height: 6em}